.popup__image-place {
  object-fit: cover;
  width: 816px;
  height: 540px;
}

@media screen and (max-width: 900px) {
  .popup__image-place {
    width: 416px;
  }
}

@media screen and (max-width: 600px) {
  .popup__image-place {
    width: 240px;
    height: 300px;
  }
}
